

<IfModule mod_rewrite.c>

	RewriteEngine On
	
	# het path mag geen directory (!-d) of filename (-d) zijn
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	
	
	# Het deel na de root worden meegegeven als get-variabele aan index.php
	RewriteRule ^(.*)$ index.php?url=$1 [PT,L]

</IfModule>